########################################
##         Keys and Addresses         ##
########################################
PRIVATE_KEY=
DEPLOYER_ADDRESS=

########################################
##              RPC URLs              ##
########################################
ETH_RPC_URL=